

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  background-color: gray;
  padding: 15px;
}

.grid-container > div {
  background-color: #b3ffd9;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}
