h2{
    text-align: center;

}

.product-grid{
    padding: 0 10vw;
    display: flex;
    scroll-behavior: smooth;
    --num-cols: 3;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    display: grid;

}

.product-list{
    flex: 0 0 auto;
    margin-right: 40px;
}

.product-images{
    position: relative;
    overflow: hidden;

}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.wishlistButton{
    opacity:1;
}

.product-card:hover .card-btn{
    opacity: 1;
}


.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}
