body {
width: 850px;
margin: auto;
background: #fff;
font-size: 16px;
font-family: "Times New Roman", Georgia, Serif;
}
h3 {
font-size: 1.75em;

}
header {
border-bottom: 1px solid #dedede;
}
header p {
font-size: 1.25em;
font-style: italic;
}
footer p {
font-size: 0.8em;
}
table {
    width:600px;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
}

ul {
    list-style-type: none;
    font-size: 1.35em;
    display: inline-block;
  }

li{
    color: #333;
}
/*
list as menu tabs - horizontal
from week 4
*/

#menutabs {
    margin: 0;
    padding: 10px 0 20px 10px;
    border-bottom: 1px solid #666;
  }

  #menutabs li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
  }

  #menutabs a {
    float: left;
    line-height: 10px;
    margin: 0 8px 4px 8px;
    text-decoration: none;
    color: #1a3852;
  }

  #menutabs a.active, #menutabs a:hover {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    color: #cd0603;
  }

  #menutabs a:hover {
    color: #779eab;
  }

  /*center class to align anything in the middle */
.center{
    text-align: center;

}
.centertable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.centerpicture{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
input[type=textform], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 0px solid #ccc; /* Gray border */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
@import 'nav.css';

.search-results{
    width: 100%;
    padding: 60px 0;
    align-content: center;
}

.heading{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 200;
    margin-bottom: 10px;
    margin-left: 100px;
    align-items: center;
    padding: 2px;
    display: flex;
}

.best-sellers{
  display: flex;
  align-content: center;
  margin-right: 20px;
  padding-left: 150px;
  text-align: center;

}

.item{

    align-items: flex-start;
    align-content: flex-start;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
}

img{
display:flex;}