/*footer css*/

.bottom-nav{
  display: center;
  text-align: center;
}
table {
    justify-content: center;
    width:100%;
    border-collapse: collapse;
}

td{
  text-align: center;
}

th, td {
    padding: 2px;
}

ul {
    list-style-type: none;
    font-size: 1.35em;
    display: inline-block;
  }

li{
    color: #333;
}

aside{
  width: 100%;
  text-align: center;
}

section{

  text-align: center;
}
