body {
width: 850px;
margin: auto;
background: #fff;
font-size: 16px;
font-family: "Times New Roman", Georgia, Serif;
}
h3 {
font-size: 1.75em;
}
header {
border-bottom: 1px solid #dedede;
}
header p {
font-size: 1.25em;
font-style: italic;
}
footer p {
font-size: 0.8em;
}

table {
    width:600px;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
}

ul {
    list-style-type: none;
    font-size: 1.35em;
    display: inline-block;
  }

li{
    color: #333;
}
/*
list as menu tabs - horizontal
from week 4
*/

#menutabs {
    margin: 0;
    padding: 10px 0 20px 10px;
    border-bottom: 1px solid #666;

  }

  #menutabs li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
  }

  #menutabs a {
    float: left;
    line-height: 10px;
    margin: 0 8px 4px 8px;
    text-decoration: none;
    color: #1a3852;
  }

  #menutabs a.active, #menutabs a:hover {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    color: #cd0603;
  }

  #menutabs a:hover {
    color: #779eab;
  }

  /*center class to align anything in the middle */
.center{
    text-align: center;
}
=======
@import 'nav.css'

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 50px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 75%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 15%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 25px;
}

.nav-items a img{
    width: 100px;
}
