body {
width: 850px;
margin: auto;
background: #fff;
font-size: 16px;
font-family: "Times New Roman", Georgia, Serif;
}
h3 {
font-size: 1.75em;
}
header {
border-bottom: 1px solid #dedede;
}
header p {
font-size: 1.25em;
font-style: italic;
}
footer p {
font-size: 0.8em;
}

@import 'nav.css'

table {
    width:600px;
    border-collapse: collapse;
}

th, td {
    padding: 2px;
}

ul {
    list-style-type: none;
    font-size: 1.35em;
    display: inline-block;
  }

li{
    color: #333;
}
/*
list as menu tabs - horizontal
from week 4
*/

#menutabs {
    margin: 0;
    padding: 10px 0 20px 10px;
    border-bottom: 1px solid #666;

  }

  #menutabs li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
  }

  #menutabs a {
    float: left;
    line-height: 10px;
    margin: 0 8px 4px 8px;
    text-decoration: none;
    color: #1a3852;
  }

  #menutabs a.active, #menutabs a:hover {
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
    color: #cd0603;
  }

  #menutabs a:hover {
    color: #779eab;
  }

  /*center class to align anything in the middle */
.center{
    text-align: center;
}
